/* estilização do header da página de Options da aplicação */
.container-header-option { 
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 20px 0px;
}

.link-option {
  background-color: rgb(233, 224, 224);
  border: solid black 5px;
  border-radius: 10px;
  color: black;
  font-size: 17px;
  font-weight: 700;
  padding: 8px;
  text-decoration: none;
}

.h3-option {
  background-color: rgb(103, 109, 109);
  border: solid black 5px;
  border-radius: 10px;
  color: white;
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  .link-option, .h3-option {
    font-size: 16px;
    padding: 4px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .link-option, .h3-option {
    font-size: 17px;
    padding: 6px;
  }
}

/* estilização do header da página de Play da aplicação */
.container-header-play {
  align-items: center;
  background-color: rgb(233, 224, 224);
  border: solid black 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 10px 0px 10px 0px;
}

.h1-play {
  white-space: nowrap;
}

.link-menu-play, .score-play {
  background-color: rgb(233, 224, 224);
  border-radius: 10px;
  color: black;
  font-size: 17px;
  font-weight: 700;
  padding: 6px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .container-header-play{
    flex-direction: column-reverse;
    margin: 20px 40px 20px 40px;
  }

  .h1-play {
    font-size: 30px;
    margin: 4px 0px 14px 0px;
  }

  .score-play {
    border: solid black 2px;
  }

  .link-menu-play {
    border: solid black 4px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .link-menu-play, .score-play {
    border: solid black 4px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container-header-play {
    padding: 12px 0px 12px 0px;
  }

  .link-menu-play, .score-play {
    border: solid black 4px;
  }
}

@media only screen and (min-width: 992px) {
  .container-header-play {
    padding: 12px 0px 12px 0px;
  }

  .link-menu-play, .score-play {
    border: solid black 4px;
  }
}

/* estilização do header da página de Result da aplicação */
.container-header-result {
  align-items: center;
  background-color: rgb(233, 224, 224);
  border: solid black 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
}

.link-menu-result {
  background-color: rgb(233, 224, 224);
  border: solid black 5px;
  border-radius: 10px;
  color: black; 
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 8px;
  text-decoration: none;
}


/* estilização do header da página de Library da aplicação */
.container-header-library {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 40px 0px 30px 0px;
}
  
.link-library {
  background-color: rgb(233, 224, 224);
  border: solid black 5px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 8px;
  text-decoration: none;
}

.h3-library {
  background-color: rgb(103, 109, 109);
  border: solid black 5px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  .link-library, .h3-library {
    font-size: 16px;
    padding: 4px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .link-library, .h3-library {
    font-size: 16px;
    padding: 6px;
  }
}
