.container-section-library {
  align-content: stretch;
  background-color: rgb(103, 109, 109);
  border: solid black 5px;
  border-radius: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px;
  margin-top: 10px;
}

.container-info-library {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.img-library {
  height: 120px;
  width: 170px;
}

.span-info-library {
  color: white;
  font-size: 20px;
  margin-top: 5px;
}
