.container-play {
  align-content: stretch;
  align-items: center;
  background-color: rgb(105, 105, 105);
  border: solid black 5px;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: center;
  position: absolute;
  left: 30%;
  width: 600px;
}

.title-play {
  bottom: 480px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
}
