@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Yuji+Hentaigana+Akari&display=swap');

.button-next-play {
  border: solid black 2px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 10px;
  width: 300px;
}

.button-next-play:hover {
  background-color: rgb(1, 236, 1);
  color: black;
}
