@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Yuji+Hentaigana+Akari&display=swap');

.conteiner-loading {
  align-items: center;
  background-color: rgb(233, 224, 224);
  opacity: 0.9;
  border-radius: 250px;
  border: solid black 5px;
  display: flex;
  flex-direction: column;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.h1-loading {
  color: rgb(8, 8, 8);
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}

.h3-loading {
  color: rgb(50, 121, 3);
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  margin-top: 0px;
}
