.button-option {
  background-color: white;
  border: solid black 5px;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 10px;
}

.button-option:hover {
  color: white;
  background-color: black;
}

.button-option:active {
  transform: translateY(4px);
}
