@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Yuji+Hentaigana+Akari&display=swap');

.container-header-play {
  align-items: center;
  background-color: rgb(233, 224, 224);
  border: solid black 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.h1-play {
  font-family: 'Rubik', sans-serif;
}

.link-menu-play, .score-play {
  background-color: rgb(233, 224, 224);
  border: solid black 5px;
  border-radius: 10px;
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 8px;
  text-decoration: none;
}
